[submodule "submodules/annotation"]
	path = submodules/annotation
	url = git@github.com:colombus-dev/annotation.git
[submodule "submodules/colombus"]
	path = submodules/colombus
	url = git@github.com:colombus-dev/colombus.git
[submodule "submodules/mlprofiler"]
	path = submodules/mlprofiler
	url = git@github.com:colombus-dev/mlprofiler.git
